<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <div>
      <p>GitHub直接访问自己静态项目页面方法</p>
      <span>https://htmlpreview.github.io/?</span> ＋ <span>应该访问的文件的 GitHub 地址</span>
      <p>比如：<a href="https://htmlpreview.github.io/?https://github.com/guozhangqiang/test/blob/main/index.html">https://htmlpreview.github.io/?https://github.com/guozhangqiang/test/blob/main/index.html</a></p>
    </div>
  </body>
</html>
